textarea 
{ 
    vertical-align: bottom; 
}
#output 
{ 
    overflow: auto; 
}
#output > p 
{ 
    overflow-wrap: break-word; 
}
#output span 
{ 
    color: blue; 
}
#output span.error 
{ 
    color: red; 
}
.dot
{
    background-color: red;
    width: 4rem;
    height:4rem;
    border-radius: 50%;
    position: absolute;
    transform: translate (-50%, -50%);
}
.startPoint{
    background-color: blue;
    width: 2rem;
    height:2rem;
    border-radius: 50%;
    position: absolute;
    transform: translate (-50%, -50%);
}
#canvas{
    background-color: black;
}
#controller{
    height: 100vh;
    width: 100vw;
}
#finishScreen img{
    width:30vw;
    height:30vh;
}
body{
    width:100vw;
    height:100vw;
}
